@use '/src/app/resume/resume.component.scss' as *;


.gallery {
  overflow: hidden;

  ul {
    padding-top: 50px;
    position: relative;

    li {
      margin-bottom: 20px;
      width: 23.24561403508772%;
      position: relative;
      overflow: hidden;

      img{
        width: 100%;
        height: auto;
        display: block;
      }

      a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        line-height: 0;

        &:before {
          position: absolute;
          width: 32px;
          height: 32px;
          top: 40%;
          left: 50%;
          margin: -14px 0 0 -16px;
          background: url("data:image/svg+xml;utf8,<...>") no-repeat;
          content: '';
          opacity: 0;
          z-index: 1;
          transition: all 0.3s linear;
        }

        &:hover:before {
          top: 50%;
          opacity: 1;
        }

        &:after {
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.3);
          content: '';
          opacity: 0;
          transition: all 0.3s linear;
        }

        &:hover:after {
          opacity: 1;
        }
      }
    }
  }
}

// PORT SECTION
.port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background-color: #fafafa;
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  transition: all 0.5s ease-in-out;

  img {
    width: 50%;
  }

  .description {
    float: left;
    width: 50%;
    max-height: 100%;
    padding: 0 40px 40px;
    overflow: auto;
  }

  h1 {
    font-size: 35px;
    line-height: 2.3;
    padding: 0;
  }

  > * {
    opacity: 0;
    transition: all 0.5s linear;
  }

  &.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    transition: all 0.4s ease-in-out;

    > * {
      opacity: 1;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s;
    }
  }
}

// CLOSE BUTTON
.close {
  width: 21px;
  height: 21px;
  background: url("data:image/svg+xml;utf8,<...>") no-repeat;
  position: absolute;
  right: 10px;
  top: -121px;
  opacity: 1;
  z-index: 1004;
  transition: all 0.1s ease-in-out;

  .item_open & {
    opacity: 1;
    top: 0px;
    transition: all 0.3s ease-in-out;
  }
}