<section class="gallery">
  <div class="d-flex flex-wrap justify-content-center row">
    
    <ul class="d-flex flex-wrap justify-content-center gap-3 p-0 m-0">
   
      <li>
        <a href="#item01">
          <img
            src="assets/images/moviedux-screen.png"
            alt="img"
          />
        </a>
      </li>
    </ul>
  </div>
  <!-- / row -->

  <!-- Item 01 -->
  <div id="item01" class="port">
       
    <div class="row">
      <a href="#" class="close"></a>
      <div class="description">
        <h1>MovieDux</h1>
        <p>
      Prototipo di interfaccia streaming con funzionalità di ricerca.
        </p>
         <a href="https://moviedux.serjiosantana.it/"
                        class="btn btn-primary rounded-pill mt-5  d-inline-flex align-items-center gap-2"
                        target="_blank" rel="noopener noreferrer">
                   Visita il sito
                        <i class="fas fa-external-link-alt"></i>
                    </a>
      </div>

      <img
        src="assets/images/moviedux-screen.png"
        alt=""
      />
    </div>
    <!-- / row -->
  </div>
  <!-- / Item 02 -->
</section>
<!-- / projects -->
