/* Navbar styles */
#navbar {
  background: transparent; /* Default transparent */
  transition: background 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for background & shadow */
  padding: 1rem 0;

  &.nav-sticky {
    background-color: #fff; /* Change background color on scroll */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow when not at the top */
  }
}

.logo-dark-mode{
  width: 4rem;
}

.logo-light-mode{
  img{width: 4rem;}
}

/* Navbar brand (Logo) */
.navbar-brand {
  display: flex;
  align-items: center;
}

/* Logo */
.l-light, .l-dark {
  margin-right: 10px;
}

/* Navbar Toggler (Hamburger Menu) */
.navbar-toggler {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #333;
}

/* Navbar links */
.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .nav-item {
    margin: 0 15px;
  }

  .nav-link {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;

    &.nav-link-black{
      color: black;
    }

    &:hover {
      color: #e6b581; /* Change color on hover */
    }

    &.active {
      color: #e6b581; /* Active link color */
    }
  }
}

/* Make Navbar Responsive (Mobile) */
@media (max-width: 992px) {
  .navbar-nav {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }

  .collapse.show {
        display: block !important;
        background-color: #1e1c27;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 9999;

  }

   .navbar-collapse{
      &.nav-sticky {
    background-color: white; /* Change background color on scroll */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }
}

  .navbar-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-item {
    margin: 10px 0;
  }


}

/* Custom scroll styles for sticky header */
body {
  padding-top: 80px; /* Offset content for fixed navbar */
}
