<footer>
  <div class="container-footer">
    <div class="footer-bar py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="logo">
              <a href="javascript:void(0);"
                ><img src="assets/images/Logo-white.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center justify-content-end">
            <div class="copyright">
              <div class="ms-auto">
                <p class="mb-0">
                  © {{currentYear}} SS
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
