<footer>
  <div class="container-footer">
    <div class="footer-bar py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-1">
            <div class="logo">
              <a href="javascript:void(0);"
                ><img src="assets/images/Logo-white.png" alt="" class="img-fluid">
              </a>
               <div class="copyright">
                <p class="mb-0">
                  © {{currentYear}} SS
                </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
