.bg-half-150{
  padding: 150px 0;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
  color: white;
  background-image: url('../../assets/images/bg.jpg')
}

.scroll-reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.scroll-reveal.animate-in,
.scroll-reveal.always-animate {
  opacity: 1;
  transform: translateY(0);
}
