.bg-half-150{
  padding: 150px 0;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
  color: white;
  background-image: url('../../assets/images/bg.jpg')
}
