.bg-half-150{
  padding: 150px 0;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
  color: white;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/bg.jpg')
}

.scroll-reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.scroll-reveal.animate-in,
.scroll-reveal.always-animate {
  opacity: 1;
  transform: translateY(0);
}

.btn {
    padding: 15px 30px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0px;
    transition: all .3s ease;
    border-radius: 0;
    border: 1px solid transparent;
}

.btn-primary {
    background-color: #ebb884;
    color: #fff !important;
    box-shadow: 0 3px 5px #ebb8841a;
    border-width: 0 !important;
}
