<section id="home" class="bg-half-150 d-table w-100">
  <div class="container scroll-reveal" [class.animate-in]="animate">
      <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-6">
              <div class="title-heading text-center text-md-start">
                  <h1 class="typed_title mb-0 fw-normal">Ciao, sono
                      <span id="typed_list">
                          <span>Serjio </span>
                          <span>Sant'Ana</span>
                      </span>
                      <span id="typed"></span>
                  </h1>
                  <h4 class="typed-heading mt-4">Sviluppatore FullStack con oltre 4 anni di esperienza nello sviluppo web e nella gestione di sistemi IT.</h4>
                  <p class="para-desc mx-auto mb-0 mt-3" style="--bs-text-opacity: .8;">
Specializzato nello sviluppo di applicazioni moderne con Angular, Symfony e tecnologie open-source.
Mi distingue un approccio orientato alla qualità del codice, performance e scalabilità, con costante voglia di apprendere.
Alla costante ricerca di opportunità per crescere, contribuire a progetti solidi e lavorare in team con passione e affidabilità.                  </p>
 <a href="/assets/file/CV.pdf"
   class="btn btn-primary rounded-pill mt-5  d-inline-flex align-items-center gap-2"
   target="_blank"
   rel="noopener noreferrer">
   Visualizza il mio CV
   <i class="fas fa-external-link-alt"></i>
</a>

              </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
              <div class="position-relative person-image">
                  <div class="slider__shape">
                          <div class="slider-shape-1"></div>
                  </div>
                  <!-- You can add additional content like images, animations, etc. inside here -->
              </div>
              <img src="assets/images/programming.svg" class="img-fluid mx-auto d-block">
          </div>
      </div>
  </div>
</section>
