.bg-half-150{
  padding: 150px 0;
  align-self: center;
  position: relative;
  color: white;
  height: 100vh;
  --s: 100px;         /* large square size */
   --c1: rgba(255, 255, 255, 0.1);
   --c2: #000;

      --_g1: conic-gradient(from 90deg at 2px 2px, transparent 0 90deg, var(--c1) 0);
      --_g2: conic-gradient(from 90deg at 1px 1px, transparent 0 90deg, var(--c1) 0);

      background:
        var(--_g1),
        var(--_g2),
        var(--c2);
      background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
}

.scroll-reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.scroll-reveal.animate-in,
.scroll-reveal.always-animate {
  opacity: 1;
  transform: translateY(0);
}

.btn {
    padding: 15px 30px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0px;
    transition: all .3s ease;
    border-radius: 0;
    border: 1px solid transparent;
}

.btn-primary {
    background-color: #ebb884;
    color: #fff !important;
    box-shadow: 0 3px 5px #ebb8841a;
    border-width: 0 !important;
}
