.bg-half-100{
  padding: 100px 0;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
  height: 100vh;
}

.btn {
    padding: 15px 30px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0px;
    transition: all .3s ease;
    border-radius: 0;
    border: 1px solid transparent;
}
.btn-primary {
    background-color: #ebb884;
    color: #fff !important;
    box-shadow: 0 3px 5px #ebb8841a;
    border-width: 0 !important;
}

.contact-right{
  .form-label {
  color: #1d1d1d !important;
  font-size: 14px !important;
}
}
