<section id="contact" class="bg-half-100 contact-section">
  <div class="container scroll-reveal delay-3" appScrollAnimation>
    <div class="row justify-content-center">
      <div class="col-xxl-12 text-center">
        <div class="title-section">
          <h1 class="title-sub-heading mb-2">contatti</h1>
          <h2 class="title-main-heading mb-4">Contattami</h2>
        </div>
      </div>


      <div class="col-12 col-md-6 scroll-reveal delay-3" appScrollAnimation>
        <div class="contact-right mt-md-0 mt-3">
          <form (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate="" class="ng-untouched ng-pristine ng-invalid">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" name="email" placeholder="Email" class="form-control rounded"
                    [(ngModel)]="formData.email" required email #emailInput="ngModel" />
                  @if (emailInput.invalid && (emailInput.dirty || emailInput.touched)) {
                  <div class="text-danger">
                    @if (emailInput.errors?.['required']) {
                    <small>Email è obbligatoria</small>
                    }
                    @if (emailInput.errors?.['email']) {
                    <small>Inserisci un indirizzo email valido</small>
                    }
                  </div>
                  }
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Ragione Sociale</label>
                  <input type="text" name="ragione" placeholder="Ragione Sociale" class="form-control rounded"/>
                </div>
              </div>
              <div class="col-lg-12">
                <div>
                  <label class="form-label">Message</label>
                  <textarea name="message" placeholder="Messaggio" rows="5" class="form-control rounded"
                    [(ngModel)]="formData.messaggio" required #messageInput="ngModel"></textarea>
                  @if (messageInput.invalid && (messageInput.dirty || messageInput.touched)) {
                  <div class="text-danger">
                    @if (messageInput.errors?.['required']) {
                    <small>Il messaggio è obbligatorio</small>
                    }
                  </div>
                  }
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                @if (showMessage) {
                <div [class]="'alert alert-' + messageType">
                  {{messageText}}
                </div>
                }
                <div class="text-center text-md-start">
                  <button type="submit" class="btn btn-primary rounded-pill mt-5" [disabled]="contactForm.invalid">
                    Invia messaggio
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
