.bg-half-100{
  padding: 100px 0;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
}

.btn-primary{
  background-color: #485a66;
  color: #fff !important;
  box-shadow: 0 3px 5px #ebb8841a;
  border-width: 0 !important;
}

.contact-right{
  .form-label {
  color: #1d1d1d !important;
  font-size: 14px !important;
}
}
