* {
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  cursor: none;
  scroll-behavior: smooth;
}


html{
  scroll-behavior: smooth;
}


.cursor {
    pointer-events: none;

    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 1000;

      circle {
        fill: #f7f8fa;
      }
    }
  }

  @media (hover: none) and (pointer: coarse) {
  * {
    cursor: auto !important; // Reset cursor for touch devices
  }

  .cursor {
    display: none !important; // Hide custom cursor container
  }
}
