.bg-secondary {
  background-color: #f8f9f9 !important;
}

.bg-half-100 {
  padding: 100px 0;
  background-size: cover !important;
  align-self: center;
  position: relative;
  background-position: center center;
}

.about-tab-section {
  .about-tab {
    .about-tab-pills {
      background-color: #e8bf9659 !important;
      gap: 10px;
      display: flex;
      height: 60px;
      max-width: 387px;
      margin: 0 auto;
      border-radius: 30px;

      .custom-nav-item {
        .nav-link {
          display: inline-block;
          padding: 18px;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          color: #1d1d1d;
          border-radius: 100px;
          width: 100%;
          position: relative;
          text-transform: capitalize;
          transition: all .4s cubic-bezier(.215, .61, .355, 1) 0s;
          overflow: hidden;
          display: block;

          &.active {
            color: #1d1d1d;
            background-color: #e8bf96;
          }
        }

      }

    }

    .experience-item {
      border-radius: 15px;
      padding: 30px;
      border: 1px solid rgba(0, 0, 0, .1);

      .title {
        font-size: 21px !important;
        font-weight: 500 !important;
        line-height: 1.8;
        color: #1d1d1d;
      }

      .expe-company {
        font-size: 14px !important;
        text-transform: capitalize;
        margin-bottom: 20px;
        color: #696969;
        font-weight: 400 !important;
      }

      .para-desc {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.8;
      }
    }

    .skill-area {
      background-color: #262629;
      padding: 91px 88px;
      border-radius: 150px;
      margin: 0 20px;

      :hover.skill-img {
        filter: grayscale(0);
    }

      .skill-img {
        filter: grayscale(1);
        transition: .5s;
        text-align: center !important;
        margin-bottom: 32px;
      }

      .skill-percentage {
        color: #fff;
        font-weight: 500 !important;
        line-height: 1.1;
        font-size: 30px !important;
        text-transform: capitalize;
        text-align: center;
      }

      .skill-pare {
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize !important;
        line-height: 1.8;
        text-align: center;
        color: #ddd;
      }
    }
  }
}
