<section id="about" class="bg-half-100 about-section bg-secondary">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xxl-12 text-center">
        <div class="title-section">
          <h1 class="title-sub-heading mb-20">resume</h1>
          <h2 class="title-main-heading mb-40">My resume</h2>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-xxl-12">
        <div class="about-tab-section">
          <div class="about-tab">

            <ul ngbNav #nav="ngbNav" class="nav nav-tabs">
              <li [ngbNavItem]="'about'">
                <button ngbNavLink>About Me</button>
                <ng-template ngbNavContent>
                  <div [innerHTML]="firstTabContent"></div>
                </ng-template>
              </li>
              <li [ngbNavItem]="'experience'">
                <button ngbNavLink>Experience</button>
                <ng-template ngbNavContent>
                  <h4>Experience</h4>
                  <p>I've worked as a Senior Developer...</p>
                </ng-template>
              </li>
              <li [ngbNavItem]="'skills'">
                <button ngbNavLink>Skills</button>
                <ng-template ngbNavContent>
                  <h4>Skills</h4>
                  <p>My skillset includes Angular, Symfony, Unity, Blender...</p>
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav"></div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
