/* You can add global styles to this file, and also import other style files */
/* styles.scss */
@import 'cookieconsent/build/cookieconsent.min.css';


* {
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  cursor: none;
  scroll-behavior: smooth;
}


.title-section {
  .title-sub-heading {
    color: #ebb884;
    font-size: 12px !important;
    text-transform: uppercase;
    padding: 7px 30px;
    letter-spacing: 1px;
    border-radius: 30px;
    border: 1px solid #ebb884;
    display: inline-block;
  }
}

.scroll-reveal {
  opacity: 0;
  transform: translateY(40px);
}

.animate-in {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-out;
}
